@use "../../App.scss";

.headervote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 80vh;
  border-radius: 0.5em;
}

.house,
.house2,
.house3,
.votepicthree,
.votepictwo,
.votepic {
  height: 9em;
  padding: 0.5em;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}

#fpro1,
#fpro2,
#fpro3 {
  width: 55vw;
  height: 25vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.proptitle {
  font-family: App.$font-text;
  color: App.$text-color-primary;
}

.vote-button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1vh;
  width: 20%;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.vote-button:after {
  content: "";
  background-color: #f8df4d;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.vote-button:hover:after {
  top: 0px;
  left: 0px;
}

.pstyle {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px black;
  font-size: 22px;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  background-color: #fff;
  white-space: wrap;
  overflow: auto;
}

@media (min-width: 1900px) {
  .votepic {
    top: 39.5vh;
  }
  .votepictwo {
    top: 94vh;
  }

  .votepicthree {
    top: 149.7vh;
  }
  .house {
    top: 39.5vh;
  }
  .house2 {
    top: 94vh;
  }

  .house3 {
    top: 149.7vh;
  }
}

@media (min-width: 768px) {
  .vote-button {
    padding: 13px 50px 13px;
  }
}
