.votepic {
  position: absolute;
  height: 9em;
  left: 23%;
  top: 45.3%;
}
.votepictwo {
  position: absolute;
  height: 9em;
  left: 68%;
  top: 103.5%;
}

.votepicthree {
  position: absolute;
  height: 9em;
  left: 23%;
  top: 162%;
}
.house {
  position: absolute;
  height: 9em;
  left: 68%;
  top: 45.3%;
}
.house2 {
  position: absolute;
  height: 9em;
  left: 23%;
  top: 103.3%;
}

.house3 {
  position: absolute;
  height: 9em;
  left: 65%;
  top: 162%;
}

.line {
  position: absolute;
  height: 6em;
  width: 100%;
  left: 0%;
  top: 217%;
  transform: rotate(-180deg);
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fpro1 {
  margin-top: 3vh;
  width: 55vw;
  height: 25vh;
  margin-bottom: 7vh;
}

#fpro2 {
  margin-top: 3vh;
  width: 55vw;
  height: 25vh;
  margin-bottom: 7vh;
}

#fpro3 {
  margin-top: 3vh;
  width: 55vw;
  height: 25vh;
  margin-bottom: 7vh;
}

.proptitle {
  display: flex;
  margin-top: 7rem;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 1.6em;
  font-weight: bolder;
  text-decoration: underline 2px whitesmoke;
  text-decoration-thickness: 3px;
}

.vote-button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1vh;
  width: 20%;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.vote-button:after {
  content: "";
  background-color: #f8df4d;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.vote-button:hover:after {
  top: 0px;
  left: 0px;
}

.pstyle {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px black;
  font-size: 25px;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  background-color: #fff;
  white-space: wrap;
  overflow: auto;
}

@media (min-width: 768px) {
  .vote-button {
    padding: 13px 50px 13px;
  }
}
