@use "../../App.scss";

.headerSuggestF {
  background-color: #fff;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggFormTitle {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size * 1.5);
  font-family: App.$font-text;
}

.timelineBarForm {
  margin-top: 5%;
  margin-bottom: 7%;
}
