@use "../../App.scss";

.headerSuggestF {
  background-color: #fff;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggFormTitle {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size * 1.5);
  font-family: App.$font-text;
}

.left,
.ExpImpBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.left {
  margin-top: 5%;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  background-color: #ffff;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 1em;
  height: 80vh;
}

.ExpImpBlock,
#datesBlock {
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 1em;
}

.labelTitle,
.labelDescription,
.labelRepercussion {
  font-family: App.$font-text;
  font-size: calc(App.$font-size - 0.4em);
  font-weight: 900;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}

.labelTitle {
  color: #70af90;
}
.labelDescription {
  color: #9b084f;
}
.labelRepercussion {
  color: #c62e43;
}

.inputBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.textArea {
  width: 40vw;
  max-width: 50vw;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

#title {
  border: #70af90 3px solid;
}

#description {
  border: #9b084f 3px solid;
}

#consequences {
  border: #c62e43 3px solid;
}

.inputText {
  max-width: 30vw;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.add {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
}

.submit {
  width: 3rem;
}

.labelExpert,
.labelImpacted,
.vote {
  display: block;
  margin: auto;
  font-family: App.$font-text;
  font-size: calc(App.$font-size - 0.4em);
  font-weight: 900;
}

.labelExpert {
  color: #24673a;
  margin-bottom: 1em;
}
.labelImpacted {
  color: #70af90;
}

.personAdd {
  color: #196c84;
  font-size: 2.5em;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-radius: 50%;
}

.search {
  display: none;
}

.hide {
  visibility: hidden;
}

.vote {
  margin-bottom: 1.5em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
  height: 80vh;
}

#datesBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.contribDate,
.voteDate,
.finaleDate {
  float: right;
  border: lightgray 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
}

.contribLabl,
.voteLabl,
.finaleLabl {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size / 1.5);
  font-family: App.$font-text;
}

.sendButton {
  padding: 0.5em;
  border-radius: 1em;
  font-family: App.$font-text;
  box-shadow: 0 20px 60px 0 black;
  border: none;
  font-size: 1.2em;
  display: block;
  margin: auto;
  margin-top: 3%;
  color: App.$text-color-primary;
}

.sendButton {
  background: #ffffff;
  transition: background-color 0.5s ease-out 100ms;
}

.sendButton:hover {
  background-color: #27ae60;
}

//SMARTPHONE
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

// }

// @media only screen and (min-device-width: 481px) and (max-device-width: 767px) {

// }

//PAD

// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

// }
