article {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.95);
}

.userident {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}

.avatar {
  border-radius: 50%;
}

.validation {
  display: flex;
  justify-content: space-around;
}

.accept,
.decline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_accept {
  color: green;
}

.icon_decline {
  color: red;
}
