@use "../../App";

.styletitlefinal {
  display: flex;
  justify-content: flex-end;
  height: 2vh;
  color: red;
  margin-bottom: 5vh;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  text-decoration: underline 1px rgb(236, 222, 95);
  font-size: 1.6em;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.finalcontent {
  display: flex;
  justify-content: center;
  height: 24vh;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px black;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  background-color: #fff;
  white-space: wrap;
  overflow: auto;
  background-color: white;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
}

.pstylefinalvote {
  margin: 0;
  color: black;
}

@media only screen and (max-device-width: 480px) {
  .finalcontent {
    width: auto;
    padding: 1em;
  }
}
