.timeline {
  margin: 50px 60px;
  height: 4px;
  background-color: #ccc;
}

.timelineProgress {
  width: 0%;
  height: 90%;
  background-color: #a7cf2f;
}

.timelineItems {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -12px;
  display: flex;
  justify-content: space-between;
}

.timelineItem {
  position: relative;
}

.timelineItem::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ccc;
  display: block;
  border-radius: 100%;
}

.timelineContent {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ddd;
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.timelineContent::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ddd;
  display: block;
  position: absolute;
  top: -8px;
  margin-left: -2px;
  left: 50%;
  transform: rotate(-45deg) translateX(-50%);
}

.timelineItem.active::before {
  background-color: #c1e94e;
}

.timelineItem.active .timelineContent {
  color: #0c3944;
  background-color: #c1e94e;
}

.timelineItem.active .timelineContent::before {
  background-color: #c1e94e;
}

//SMARTPHONE
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .timelineContent {
    font-size: 0.5em;
    left: 50%;
    width: 40px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .timelineContent {
    font-size: 0.8em;
    left: 50%;
    width: 60px;
  }
}
