.standardCanvas {
  max-width: 350px;
  max-height: 350px;
}

@media only screen and (max-device-width: 480px) {
  .standardCanvas {
    margin: auto;
    max-width: 250px;
    max-height: 250px;
  }
}
