@use "../src/App.scss";

.comment {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  p {
    font-family: App.$font-text;
    color: App.$text-color-primary;
  }
}
.cAuthor {
  font-size: larger;
  margin-left: 1vw;
}
.cDate {
  font-size: large;
  font-style: oblique;
  text-decoration: underline;
}

.cContent {
  font-weight: bolder;
  margin-left: 1vw;
  margin-right: 1vw;
  min-height: 5rem;
}

.cAvatar {
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
}

.replyBtn {
  align-self: flex-end;
  height: 3rem;
  width: auto;
  border-radius: 20%;
  font-size: 1rem;
}

.comment .Vote {
  text-align: center;
  align-self: flex-end;
  font-size: larger;
}

.num {
  font-size: 2rem;
  color: App.$text-color-primary;
}
.replyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

// media query//

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .comment {
    height: unset;
    width: unset;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .fullComment {
    flex-wrap: wrap;
    height: unset;
  }
  .comment {
    width: unset;
  }
}

#headercomment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  align-items: center;
}

#Vote {
  height: 20%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: space-between;
  button {
    cursor: pointer;
  }
}

.Vote {
  border: none;
  background: none;
  font-size: larger;
  cursor: pointer;
}
