@use "../src/App.scss";

.comment {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  p {
    font-family: App.$font-text;
    color: App.$text-color-primary;
  }
}
.cAuthor {
  align-self: start;
  font-size: larger;
  margin-left: 1vw;
}
.cDate {
  align-self: flex-end;
  font-size: small;
  margin-right: 1vw;
  font-style: oblique;
  text-decoration: underline;
}

.cContent {
  font-size: larger;
  margin-left: 1vw;
  margin-right: 1vw;
}

.cAvatar {
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
  align-self: flex-start;
  padding-left: 2rem;
  padding-top: 2rem;
}

.replyBtn {
  align-self: flex-end;
  height: 3rem;
  width: auto;
  border-radius: 20%;
  font-size: 1rem;
}

.comment .Vote {
  border-radius: 10%;
  text-align: center;
  align-self: flex-end;
  font-size: larger;
}

.num {
  font-size: 2rem;
  color: App.$text-color-primary;
}
.replyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

// media query//

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fullComment {
    height: 25vh;
    width: 100vw;
  }
}
