@use "../../App";

.suggestBlock {
  text-decoration: none;
  color: unset;
}

.card{
  border: solid 1px black;
  max-width: 25vw;
  padding: 0 2.5vw;
  background-color: #fff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  transition: transform 0.4s;
}

.titleCard {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size / 1.2);
  font-family: App.$font-text;
  text-align: right;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.wrapper {
  border: solid 1px rgb(121, 117, 117);
  margin: 0.5rem 0;
}

.progressBar {
  height: 0.5rem;
  width: 2vw;
  background-color: yellowgreen;
}

.opinion {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size / 1.6);
  font-family: App.$font-text;
  text-align: right;
}

article.card {
  margin-bottom: 3em;
  padding-left: 2em;
  padding-right: 1em;
}

//SMARTPHONE

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    max-width: none;
    margin: 0;
    padding: 0;
  }
  article.card {
    margin-bottom: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .card {
    max-width: none;
    margin: 0;
    padding: 0;
  }
  article.card {
    margin-bottom: 1em;
    padding-right: 1em;
  }
}

//PAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .card {
    max-width: 40vw;
    margin: 0;
    padding: 0;
  }
  article.card {
    margin-bottom: 1em;
    padding-right: 1em;
  }
}
