ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
}
img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  box-shadow: 6px 5px 6px 0px rgba(0, 0, 0, 0.75);
}
