@use "../../App";

.loginForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15%;
  width: 26%;
  height: calc(App.$mainHeight/4);
}
.wallmake {
  position: absolute;
  height: 70vh;
  width: 100%;
  top: 30%;
  z-index: -1;
}

.loginTitle {
  text-align: center;
  color: App.$text-color-primary;
  font-family: App.$font-text;
  font-size: 1.5em;
  margin-bottom: 0;
}

.inputLoginForm {
  border: 1px #e0e4eb solid;
  background-color: #fff;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 60px 0 black;
  height: 17vh;
}

.inputLogin {
  font-family: App.$font-text;
  height: 2em;
  border: #196c84 solid 0.5px;
  border-radius: 1em;
  padding-left: 0.5em;
  color: App.$text-color-primary;
  margin: 3% 3%;
}

.loginSubmit {
  margin: auto;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 20px 60px 0 black;
  font-family: App.$font-text;
  font-size: 1.2em;
  margin-top: 4vh;
  background-color: #ffffff;
  color: App.$text-color-primary;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em;
  transition: 200ms;
  width: auto;
  font-size: calc(App.$font-size /1.5);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loginSubmit:not(:disabled):hover,
.loginSubmit:not(:disabled):focus {
  outline: 0;
  background: #fff30d;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.loginSubmit:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

@media only screen and (max-width: 1920px) {
  .loginForm {
    margin-top: 28.5vh;
  }
  .inputLogin {
    margin: 1.5% 1%;
  }
  .loginTitle {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 851px) {
  .loginForm {
    margin-top: 5%;
  }
  .inputLogin {
    margin: 1.5% 1%;
  }
  .loginTitle {
    font-size: 1.5em;
  }
  .loginSubmit {
    margin-top: 3%;
    font-size: 1em;
  }
}

@media only screen and (max-width: 850px) and (orientation: portrait) {
  .loginForm {
    width: 80%;
    margin-top: 30%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px){
  .loginSubmit{
    
  }
}
