@use "../../App.scss";

.left,
.ExpImpBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left {
  margin-top: 5%;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  background-color: #ffff;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  height: 80vh;
  width: 60%;
}

.ExpImpBlock,
#datesBlock {
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.labelTitle,
.labelDescription,
.labelRepercussion {
  font-family: App.$font-text;
  font-size: calc(App.$font-size - 0.4em);
  font-weight: 900;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}

.labelTitle {
  color: #70af90;
}

.labelDescription {
  color: #9b084f;
}

.labelRepercussion {
  color: #c62e43;
}

.inputBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.textArea {
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  font-size: calc(App.$font-size/2);
  font-family: App.$font-text;
  color: App.$text-color-primary;
}

#title {
  border: #70af90 3px solid;
}

#description {
  border: #9b084f 3px solid;
}

#consequences {
  border: #c62e43 3px solid;
}

.inputText {
  max-width: 30vw;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.add {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-bottom: 1em;
}

#datesBlock {
  padding: 0.5em;
}

.ExpImpBlock {
  margin-bottom: 1em;
}

.labelExpert,
.labelImpacted {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.labelExpert,
.labelImpacted,
.vote {
  font-family: App.$font-text;
  font-size: calc(App.$font-size - 0.4em);
  font-weight: 900;
}

.labelExpert {
  color: #24673a;
}

.labelImpacted {
  color: #70af90;
}

.personAdd {
  color: #196c84;
  font-size: 2.5em;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-radius: 50%;
}

.search {
  display: none;
}

.hide {
  visibility: hidden;
}

.vote {
  margin-bottom: 1.5em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  height: 50vh;
}

#datesBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.contribDate,
.voteDate,
.finaleDate {
  float: right;
  border: lightgray 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
}

.contribLabl,
.voteLabl,
.finaleLabl {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size / 1.5);
  font-family: App.$font-text;
}

.sendButton {
  padding: 0.5em;
  border-radius: 1em;
  font-family: App.$font-text;
  box-shadow: 0 20px 60px 0 black;
  border: none;
  font-size: 1.2em;
  display: block;
  margin: auto;
  margin-top: 3%;
  color: App.$text-color-primary;
}

.sendButton {
  background: #ffffff;
  transition: background-color 0.5s ease-out 100ms;
}

.sendButton:hover {
  background-color: #27ae60;
}

//large screen

@media only screen and (min-width: 1250px) {
  .left {
    justify-content: unset;
    height: unset;
  }

  .inputBlock {
    height: unset;
    align-items: unset;
  }
  .detailsSgForm {
    padding-top: unset;
  }
}

//SMARTPHONE

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .left {
    flex-direction: column;
    height: unset;
    width: 100%;
  }

  #title,
  #description,
  #consequences {
    max-width: none;
    width: auto;
  }

  .inputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    height: unset;
    width: 100%;
  }

  .ExpImpBlock,
  #datesBlock {
    padding: unset;
    width: auto;
  }

  .ExpImpBlock {
    margin-bottom: 1em;
  }

  .labelExpert,
  .labelImpacted,
  .vote {
    display: block;
    margin: auto;
  }

  .ExpImpSecondBlock {
    display: flex;
    flex-direction: column;
  }

  .labelExpert,
  .labelImpacted {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }

  .personAdd {
    font-size: 2em;
  }

  .vote {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .add {
    margin-bottom: 0.5em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .left {
    flex-direction: column;
    height: unset;
    width: 100%;
  }

  .inputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    height: unset;
    width: 100%;
  }

  .ExpImpBlock {
    margin-bottom: 1em;
  }

  .labelExpert,
  .labelImpacted,
  .vote {
    display: block;
    margin: auto;
    font-family: App.$font-text;
    font-size: calc(App.$font-size - 0.4em);
    font-weight: 900;
  }

  .labelImpacted {
    margin-bottom: 1em;
  }

  .ExpImpSecondBlock {
    display: flex;
    flex-direction: column;
  }

  .labelExpert,
  .labelImpacted {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }

  .vote {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .add {
    margin-bottom: 0.5em;
  }

  .sendButton {
    margin-top: 2%;
  }
}

//PAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1249px) {
  .left {
    flex-direction: column;
    height: unset;
    width: 100%;
  }

  .inputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .right {
    margin-top: 5%;
    height: unset;
  }

  .add {
    margin-bottom: 0.5em;
  }

  .sendButton {
    margin-top: 1%;
  }
}
