@use "../../App.scss";

.addComment {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #ffffff;
  font-family: App.$font-text;
  box-shadow: 0 10px 30px 0 black;
  border: none;
  font-size: 1em;
  margin-top: 1%;
  color: App.$text-color-primary;
}
