/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #C62E43;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #F3976B;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

/* Color/shape of close button cross */
.bm-cross {
  background: whitesmoke;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #196c85;
  padding: 5em 1.5em 0;
  font-size: 1.15em;
  background: url("@assets/test.png") no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.remline {
  text-decoration: underline #fcf6a0 0.1em;
  text-underline-offset: 8px;
}

.endpoint {
  font-size: 2rem;

  color: #fff30d;
}

.titlelogo {
  margin-top: 8vh;
  margin-bottom: 6vh;
  padding-right: 7vw;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
}

.underscore {
  color: #fff30d;
}

.menu-item {
  padding: 3vh;
  margin: 0vh;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  text-underline-offset: 8px;
  width: 14rem;

  color: #ffffff;
}

.lang {
  padding-top: 2.7em;
  padding-left: 1.5rem;
}

@media (max-width: 450px) {
  .bm-burger-button {
    position: fixed;
    width: 18px;
    height: 15px;
    left: 10px;
    top: 10px;
  }
  .titlelogo {
    display: flex;
    justify-content: center;
    color: white;
    justify-content: center;
    font-weight: bold;
    padding-right: 6.5em;
    font-size: 1.6em;
  }
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
  }

  .bm-menu {
    display: flex;
    justify-content: center;
    background-color: #196c84;
    padding: 0.5em 2em 3em;
    font-size: 1.2em;
    background: url("@assets/test.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .bm-item-list {
    color: #ffffff;
    padding: 2em;
    padding-left: 12em;
    width: 30em;
    justify-content: center;
  }

  .bm-cross {
    background: #fff30d;
    width: 30em;
  }
  .lang {
    font-size: 0.8em;
    width: 9rem;
    padding-top: 0.4em;
    padding-left: 2.5em;
  }
  .menu-item {
    padding-left: 2.5rem;
    justify-content: center;
  }

  .bm-cross-button {
    left: 400px;
  }
}
