@use "../../App";

#headerSuggestion {
  background-color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerSuggestion > h2 {
  color: App.$text-color-primary;
  font-size: calc(App.$font-size * 1.5);
  font-weight: bolder;
  font-family: App.$font-text;
  margin: 0;
}

.filterBlock {
  margin-left: 15%;
}
.filteridea {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  width: 30%;
}

.priorisation,
.priorityLabel {
  font-family: App.$font-text;
  font-weight: bolder;
}

.priorisation {
  color: App.$color-background;
}

.hightP {
  color: red;
}

.mediumP {
  color: orange;
}

.lowP {
  color: green;
}

.noneP {
  color: lightgrey;
}

.cardx {
  display: flex;
  padding-top: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.cardsBlock {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

//SMARTPHONE
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #headerSuggestion {
    height: 15vh;
  }
  .filteridea {
    width: 45%;
  }
  .priorisation,
  .priorityLabel {
    font-size: calc(App.$font-size / 2.5);
  }
  .cardx {
    padding-top: 1em;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
  }
  .cardsBlock {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .cardx {
    padding-top: 3em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  #headerSuggestion {
    height: 15vh;
  }
  .filteridea {
    width: 45%;
  }
  .priorisation,
  .priorityLabel {
    font-size: calc(App.$font-size / 2.5);
  }
  .cardx {
    padding-top: 3em;
  }
}

//PAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #headerSuggestion {
    height: 15vh;
    width: auto;
  }
  .filteridea {
    width: 35%;
  }
  .priorisation,
  .priorityLabel {
    font-size: calc(App.$font-size / 2);
  }
  .cardx {
    padding-top: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    flex-direction: row;
  }

  #headerSuggestion > h2 {
    color: App.$text-color-primary;
    font-size: App.$font-size;
    display: unset;
  }

  .cardsBlock {
    padding-left: unset;
    padding-right: unset;
  }
}
