@use "../../App";

.settingstitle {
  background-color: App.$color-background;
  display: flex;
  justify-content: center;
  margin-top: 0rem;
}
.settingsp {
  display: flex;

  padding-top: 10rem;
  color: whitesmoke;
  font-size: 2.5em;
  padding-left: 50rem;

  font-family: Raleway, Helvetica, Arial, sans-serif;
}

.logoxMS {
  position: absolute;
  height: 10em;
  left: 10%;
  top: 20%;
}

.logoxMS2 {
  position: absolute;
  height: 12em;
  right: 10%;
  top: 80%;
  z-index: -5;
  transform: rotate(-120deg);
}

.logoxMS3 {
  position: absolute;
  height: 15em;
  transform: rotate(-220deg);
  right: -7%;
}

.titlesuggest {
  display: flex;
  padding-top: 2rem;
  color: #0c3944;
  font-size: 2.2em;
  font-weight: bolder;
  padding-left: 50rem;
  text-decoration: underline 0.2rem App.$color-primary;
  text-underline-offset: 0.4rem;
}
.cardx {
  padding-top: 2vh;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  padding: 1vh;
  justify-content: space-evenly;
}
