@use "../../App";

.settingstitle {
  background-color: App.$color-background;
  display: flex;
  justify-content: center;
  margin-top: 0rem;
}
.settingsp {
  display: flex;

  padding-top: 10rem;
  color: whitesmoke;
  font-size: 2.5em;
  padding-left: 50rem;

  font-family: Raleway, Helvetica, Arial, sans-serif;
}

.logoxMS {
  position: absolute;
  height: 10em;
  left: 10%;
  top: 5%;
}

.logoxMS2 {
  position: absolute;
  height: 12em;
  right: 10%;
  top: 80%;
  z-index: -5;
  transform: rotate(-120deg);
}

.logoxMS3 {
  position: absolute;
  height: 15em;
  transform: rotate(-220deg);
  right: -7%;
  top: -8%;
}

.titlesuggest {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 2em;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 2.2em;
  font-weight: bolder;
}

.filterti {
  margin-top: 0.6rem;
  margin-left: 1rem;
  font-size: 2rem;
}
.filterti1 {
  margin-top: 0.6rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.cardx {
  align-items: center;
  padding-top: 3vh;
  flex-wrap: wrap;
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
.titlehome {
  display: flex;

  flex-direction: column;
  align-items: center;
}
