/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fcf6a0;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: whitesmoke;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background-color: #196c84;
  padding: 5em 1.5em 0;
  font-size: 1.15em;
  background: url("@assets/test.png") no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.remline {
  text-decoration: underline #fcf6a0 0.1em;
  text-underline-offset: 8px;
}

.endpoint {
  font-size: 2rem;

  color: #fff30d;
}

.titlelogo {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
}

.underscore {
  color: #fff30d;
}

.menu-item {
  padding: 3vh;
  margin: 0vh;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  text-underline-offset: 8px;

  color: #ffffff;
}

.lang {
  padding-top: 2.7em;
  padding-left: 1.5rem;
}
