/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #FCF6A0;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: whitesmoke;

}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background-color: #196C84;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    margin-top: 8rem;
    color: #ffffff;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.remline {
    text-decoration: underline #FCF6A0 0.1em;
    text-underline-offset: 8px;



}

.endpoint {
    font-size: 2rem;

    color: #FCF6A0;
}

a {

    padding: 3vh;
    margin: 0vh;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    text-underline-offset: 8px;





    color: #ffffff;
}