$mainHeight: 100vh;
$color-background: #70af90;
$color-primary: #196c84;
$text-color-primary: #0c3944;
$text-color-secondary: #fff30d;
$font-text: Helvetica, Arial, sans-serif;

:root {
  height: $mainHeight;
}