@use "../../App.scss";

.main {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 70vw;
}

.description,
.repercussion,
h2 {
  padding: 0 1rem;
}

.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 0 1rem;
  gap: 0.5em;
  margin-left: 0.5em;
}

.impactedTitle,
.expertTitle {
  font-family: App.$font-text;
  font-size: calc(App.$font-size - 0.4em);
  margin: 0;
  margin-bottom: 0.5em;
}

.impactedTitle {
  color: #70af90;
}

.expertTitle {
  color: #24673a;
}

.impacted,
.expert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarpicture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.descriptionBlock,
.repercussionBlock {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border: #e0e4eb 3px solid;
  box-shadow: 0 0 0 1px rgba(92, 106, 196, 0.1);
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.suggestTitleMain {
  color: #fffde8;
  font-size: calc(App.$font-size * 1.4);
  font-family: App.$font-text;
  position: absolute;
  top: 3.3vh;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  font-weight: bolder;
}

.descriptionTitle,
.repercussionTitle {
  font-family: App.$font-text;
  font-size: calc(App.$font-size * 1.1);
}
.descriptionTitle {
  color: #9b084f;
}
.repercussionTitle {
  color: #c62e43;
}

.suggestdetail {
  margin: 0.5em;
}

//SMARTPHONE
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .suggestTitleMain {
    font-size: 1.5em;
    font-family: App.$font-text;
    position: absolute;
    top: 2%;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }
  .people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin: 0.5em 0;
    padding: 0;
  }
  .main {
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .suggestTitleMain {
    font-size: 1.5em;
    font-family: App.$font-text;
    position: absolute;
    top: 2%;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }
  .people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin: 0.5em 0;
    padding: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}

//PAD

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin: 0.5em 0;
    padding: 0;
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    width: 100%;
  }
  .suggestTitleMain {
    font-size: 2em;
    font-family: App.$font-text;
    position: absolute;
    top: 2%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
