@use "../../App";

.inputFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: calc(App.$mainHeight / 2);
  gap: 1em;
  width: 40%;
  color: App.$color-primary;
  border: 4px rgb(255, 230, 0) solid;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 20px 60px 0 rgb(51, 50, 50);
  background-color: #ffffff;
  margin-top: 3vh;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 900px) {
  .inputFields {
    width: auto;
    height: 90vh;
    margin: 0 2em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .inputFields {
    width: auto;
    height: auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .inputFields {
    width: auto;
    height: auto;
    margin-top: 0;
  }
}

.avatarLogo {
  border-radius: 50%;
  box-shadow: 0 20px 60px 0 black;
  display: block;
  margin: auto;
}

.nameInput,
.fNameInput,
.emailInput,
.emailConfInput,
.passInput,
.passConfInput {
  font-family: App.$font-text;
  height: 2em;
  border: #196c84 solid 0.5px;
  border-radius: 1em;
  padding-left: 0.5em;
  color: App.$text-color-primary;
}

.localisationInput {
  height: 2.5em;
  border: #196c84 solid 0.5px;
  border-radius: 1em;
  padding-left: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  color: App.$text-color-primary;
}

.nameInput,
.fNameInput {
  width: 40%;
}

.nameInput {
  margin-left: 1em;
}

.fNameInput {
  margin-right: 1em;
}

.identityInputs {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.favatar {
  display: flex;
  padding: 0rem;
  padding-left: 0.8em;
  max-height: 11em;
  max-width: 11em;
}
.textregis {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-size: 1.9em;
  font-weight: bolder;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.avatarPrev {
  display: flex;
  justify-content: center;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin-left: 44%;
  max-height: 11em;
  max-width: 11m;
  margin-top: 2.5vh;
  margin-bottom: 0vh;
}

.favatarInput,
.emailInput,
.emailConfInput,
.passInput,
.passConfInput {
  margin-right: 1em;
  margin-left: 1em;
}

.passConfInput {
  margin-bottom: 0%;
}

.validation {
  padding: 0.5em;
  border-radius: 3em;
  font-family: App.$font-text;
  font-weight: bold;
  border: 3px rgb(29, 29, 29) solid;
  box-shadow: 0 20px 60px 0 black;
  font-size: 1.1em;
  display: block;
  margin: auto;
  margin-top: 3%;
  color: App.$text-color-primary;
  width: 7vw;
  height: 7vh;
}

.validation {
  background: #ffffff;
  transition: background-color 0.5s ease-out 100ms;
}

.validation:hover {
  cursor: pointer;
  background-color: #27ae60;
}

.logoMS {
  position: absolute;
  height: 10em;
  left: 10%;
  top: 20%;
  z-index: -1;
}

.logoMS2 {
  position: absolute;
  height: 11em;
  right: -5%;
  top: 86%;
  z-index: -5;
  transform: rotate(-125deg);
}
.logoMS3 {
  margin-top: -1em;
  position: absolute;
  height: 11em;
  transform: rotate(-194deg);
  right: -6%;
  top: -1%;
}

.logoMS4 {
  position: absolute;
  height: 10em;
  right: 89%;
  top: -4%;
  z-index: -5;
  transform: rotate(-125deg);
}
.logoMS5 {
  margin-top: 3em;
  position: absolute;
  height: 11em;
  transform: rotate(-10deg);
  right: 88%;
  top: 78%;
}
